form#animeForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0000005d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form#animeForm input[type="text"],
form#animeForm input[type="email"],
form#animeForm input[type="tel"],
form#animeForm input[type="number"],
form#animeForm input[type="date"],
form#animeForm select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form#animeForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

form#animeForm button[type="submit"]:hover {
    background-color: #333;
}

.form-wrapper {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: inline-block;
}

.form-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}